html, body {
  display: block !important;
  height: auto !important;
  width: auto !important;
  position: static !important;
  margin: 0;
  padding: 0;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
