// Nothing here. Just use the default theme.
@import "@material/typography/mdc-typography";
@import "@material/theme/color-palette";

// $mdc-theme-primary: #dc5d5d;
// $mdc-theme-secondary: #fff8e7;
// $mdc-theme-background: #f9f1df;
$mdc-theme-surface: #f9f1df;
// $mdc-theme-error: $material-color-orange-100;
