<script>
let width = 40;
let height = 40;

function point1x() {
    var midX = width/2
    return (midX)
  }
function point1y(layer) {
    var midY = height/2
    return (-3*layer + midY)
  }
function point2x(layer) {
    var midX = width/2
    return (2.6*layer + midX)
  }
function point2y(layer) {
    var midY = height/2
    return (-1.5*layer + midY)
  }
function point3x(layer) {
    var midX = width/2
    return (2.6*layer + midX)
  }
function point3y(layer) {
    var midY = height/2
    return (1.5*layer + midY)
  }
function point4x() {
    var midX = width/2
    return (midX)
  }
function point4y(layer) {
    var midY = height/2
    return (3*layer + midY)
  }
function point5x(layer) {
    var midX = width/2
    return (-2.6*layer + midX)
  }
function point5y(layer) {
    var midY = height/2
    return (1.5*layer + midY)
  }
function point6x(layer) {
    var midX = width/2
    return (-2.6*layer + midX)
  }
function point6y(layer) {
    var midY = height/2
    return (-1.5*layer + midY)
  }
function polygonPoints(layer) {
    return truePoints(layer, layer, layer, layer, layer, layer)
  }
function truePoints(l1, l2, l3, l4, l5, l6) {
    return point1x() + "," + point1y(l1) + " " +
            point2x(l2) + "," + point2y(l2) + " " +
            point3x(l3) + "," + point3y(l3) + " " +
            point4x() + "," + point4y(l4) + " " +
            point5x(l5) + "," + point5y(l5) + " " +
            point6x(l6) + "," + point6y(l6)
  }
</script>

<svg viewBox="0 0 {width} {height}">
  style="fill:none;stroke:red;stroke-width:.5"/>
  <line x1="{point1x()}" y1="{point1y(6)}" x2="{point4x()}" y2="{point4y(6)}" style="stroke:#dc5d5d;stroke-width:.5"/>
  <line x1="{point2x(6)}" y1="{point2y(6)}" x2="{point5x(6)}" y2="{point5y(6)}" style="stroke:#dc5d5d;stroke-width:.5"/>
  <line x1="{point3x(6)}" y1="{point3y(6)}" x2="{point6x(6)}" y2="{point6y(6)}" style="stroke:#dc5d5d;stroke-width:.5"/>

  {#each [1,2,3,4,5,6] as l}
    <polygon points="{polygonPoints(l)}"
      style="fill:none;stroke:#dc5d5d;stroke-width:.3"/>
  {/each}
  <polygon points="{truePoints(1, 2, 3, 4, .4, 5.5)}"
    style="fill:gray;stroke:#dc5d5d;stroke-width:.2" fill-opacity=".7"/>
</svg>
