<script>
  import Textfield from '@smui/textfield'
  import Button, {Label} from '@smui/button';
  let name = "", numberOf = 0, price = 0
  async function handleSubmit(event) {
    const response = await fetch("http://localhost:3000/api/purchaseItem",
    {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({name: name, numberof: numberOf, price: price})
    });
    name = ""
    numberOf = 0
    price = 0
    const data = await response.json();
  }
</script>

<form on:submit|preventDefault="{handleSubmit}">
  <Textfield bind:value={name} label="Name" />
  <Textfield bind:value={numberOf} type="number" label="Number of" />
  <Textfield bind:value={price} type="number" step="0.01" label="Price in total" />
  <Button>
    <Label>Submit</Label>
  </Button>
</form>
