<script>
export let name;
import Button, {Label, Icon} from '@smui/button';
import TopAppBar, {Row, Section, Title, FixedAdjust} from '@smui/top-app-bar';
import Card, {Content, PrimaryAction, Media, MediaContent} from '@smui/card';
import IconButton from '@smui/icon-button';
import Diagram from './components/Diagram.svelte';
import ItemForm from './components/ItemForm.svelte';


let clicked = 0;
let secondaryColor = false;
let collapsed = false;
let topBar = "standard"
</script>

<svelte:head>
  <title>{name}</title>
</svelte:head>

<main>
  <TopAppBar bind:variant={topBar} bind:collapsed class="navbar">
    <Row>
      <Section>
        <Title>{name}</Title>
      </Section>
      <Section align="end" toolbar>
      </Section>
    </Row>
  </TopAppBar>
  <div use:FixedAdjust class="content-container">
    <div class="content">
      <div class="container">
        <div class="introduction">
          <Card>
            <PrimaryAction on:click={() => doAction('openItemPage')}>
              <Title>Introduction</Title>
              <div class="container" style="padding: 0px;">
                <div class="image">
                  <img src="https://www.gannett-cdn.com/-mm-/9a10d18443197ab9a2a837953a60ea6375b5467c/c=4-0-1916-1080/local/-/media/2018/06/28/USATODAY/USATODAY/636657864338907092-Halo-20Silver-1920x1080.png" alt="Introduction thumbnail" width=100% />
                </div>
                <div class="description">
                  <p>
                    This item is so glorious that you would have to be some kind of fool to not immediately buy it.
                  </p>
                </div>
              </div>
            </PrimaryAction>
          </Card>
        </div>
        <div class="plot">
          <Diagram/>
        </div>
      </div>

      <Button color="secondary" on:click={() => clicked++}>
        <Icon class="material-icons">thumb_up</Icon>
        <Label>Click Me NOW!</Label>
      </Button>
      <p class="mdc-typography--body1">
        {#if clicked}
          You've clicked the button {clicked} time{clicked === 1 ? '' : 's'}.
        {:else}
          <span class="grayed">You haven't clicked the button.</span>
        {/if}
      </p>
      <div>
        <ItemForm />
      </div>
    </div>
  </div>
</main>

<style>
  .content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: linear-gradient(#f9f1df, white)
  }
  .content {
    flex: 1 0;
    max-width: 800px;
  }
  :global(.content > *) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
  }
  .introduction {
    margin-top: 1em;
    align-self: stretch;
  }
  .image {
    flex: 1 1;
  }
  .description {
    flex: 1 1;
    padding: 1em;
  }
@media only screen and (min-width: 1024px) {
  .introduction {
    flex: 9 9;
  }
  .plot {
    flex: 3 3;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    flex-flow: column nowrap;
  }

  .introduction, .plot {
    flex: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .introduction {
    flex: 8 8;
  }
  .plot {
    flex: 4 4;
  }
}
</style>
